#board{
    height: 540px;
    width: 540px;
    background: green;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url(https://static.vecteezy.com/system/resources/previews/000/433/183/original/vector-brown-soil-texture-background.jpg);
    background-size: cover;
    border: 3px solid #fff;
    border-radius: 25px;
    
}